// Body
$body-bg: #fff;

// Gray tones
$color-gray-dark:                 #2b2b2c;
$color-gray:                      #55595c;
$color-gray-light:                #818a91;
$color-gray-lighter:              #eceeef;
$color-gray-lightest:             #f7f7f9;

// Base color 1 (Site color 1)
$color-base-1: #355C7D;
$color-base-text-1: #FFF;

// Base color 2 (Site color 2)
$color-base-2: #C06C84;
$color-base-text-2: #FFF;

// Base color 3. Choose a neutral color such gray or light gray
$color-base-3: $color-gray-light;
$color-base-text-3: rgba(255, 255, 255, 0.9);

// Base color 4. Choose a dark color (or a light one for the dark theme)
$color-base-4: #1d2125;
$color-base-text-4: #FFF;

// Base color 5. Choose a light color (or a dark one for the dark theme)
$color-base-5: #FFF;
$color-base-text-5: #0A0814;

// Bootstrap's main colors
$color-primary: $color-blue;
$color-success: $color-green;
$color-danger: $color-red;
$color-warning: $color-orange;

// Background colors used for sections (.slice)
$section-color-1: #FFF;
$section-color-2: #f8f8f8;
$section-color-3: $color-space-gray;
$section-color-4: darken($color-space-gray, 10%);

// Fonts
$font-family-base: 'Roboto', sans-serif;
$font-family-alt: 'Quicksand', sans-serif;

// Headings
$heading-text-transform: none;
$heading-font-weight: 500;

$heading-color: rgb(17, 17, 17);
$heading-inverse-color: $color-white;

// Section titles
$section-title-text-transform: capitalize;
$section-title-font-size: $font-size-h2;
$section-title-font-weight: 400;
$section-title-color: $color-gray-dark;
$section-title-color-inverse: $color-white;

$section-title-delimiter-width: 23px;

$section-title-delimiter-border-width: 1px;
$section-title-delimiter-border-color: $color-gray-dark;
$section-title-delimiter-border-color-inverse: $color-white;

// Navbar links
$navbar-nav-link-font-family: $font-family-base;
$navbar-nav-link-font-size: 0.8rem;
$navbar-nav-link-font-weight: 500;
$navbar-nav-link-text-transform: none;
$navbar-nav-link-letter-spacing: 0;
$navbar-nav-link-border-radius: 0;

// Navbar (default) links and text
$navbar-nav-link-bg: transparent;
$navbar-nav-link-bg-hover: transparent;
$navbar-nav-link-bg-active: transparent;

$navbar-nav-link-color: #555;
$navbar-nav-link-color-hover: $color-base-1;
$navbar-nav-link-color-active: $color-base-1;

$navbar-nav-text-color: rgba(0, 0, 0, 0.3);

// Navbar (light) - link colors
$navbar-light-nav-link-bg: transparent;
$navbar-light-nav-link-bg-hover: transparent;
$navbar-light-nav-link-bg-active: transparent;

$navbar-light-nav-link-color: #666;
$navbar-light-nav-link-color-hover: $color-base-1;
$navbar-light-nav-link-color-active: $color-base-1;

$navbar-light-nav-text-color: rgba(18, 18, 18, 1);

// Navbar dropdown menu
$navbar-dropdown-menu-border-radius: 2px;
