// Bug fix for when using a background color with a custom text culor set
.alert {
    font-size: $font-size-sm;
}
.alert strong {
    color: inherit!important;
    font-weight: 500;
}
 
// Alert - Styles
// .alert-info {
//     background-color: $color-white;
//     border-color: $color-gray-lighter;
//     color: $color-white-text;
// }
// .alert-success {
//     background-color: $color-green;
//     border-color: $color-green;
//     color: $color-green-text;
// }
// .alert-warning {
//     background-color: $color-orange;
//     border-color: $color-orange;
//     color: $color-orange-text;
// }
// .alert-danger {
//     background-color: $color-red;
//     border-color: $color-red;
//     color: $color-red-text;
// }
